# Local environment variables containing private API keys
.env

# System / Temp files
Thumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
.system_generated/

# Dependency folders
node_modules/
dist/
build/
